* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  min-height: 100%;
  min-width: fit-content;
  width: 100%;
  border: solid 1px red;
}

body > * {
  border: solid 1px black;
}

button {
  all: unset;
  cursor: pointer;
}

input + button {
  position: relative;
}

input + button::before {
  position: absolute;
  right: 10px;
  top: -13px;
  content: url('https://img.icons8.com/?size=10&id=7695&format=png&color=000000');
}

 .forecast-box.hourly {
  background-color: rgba(154, 57, 57, 0.5);
  display: none;
 }

 .forecast-box.daily {
  background-color: rgba(58, 157, 86, 0.5);
  /* display: none; */
 }

 #future-conditions {
  /* display: flex; */
 }

 #current-conditions {
  /* display: flex; */
 }
