@import url(weatherIcons.css);
@import url(temperatureIcons.css);
@import url(phaseIcons.css);
@import url(addressIcons.css);
@import url(timeIcons.css);
@import url(meta.css);
@import url(animations.css);

/* ---------------------------------------------------- */
/* ---------------------- TOP HALF -------------------- */
/* ---------------------------------------------------- */
#top {
  display: grid;
  grid-template-areas: 
    "header header header header header"
    "left left left right right"
    "left left left right right"
    "left left left right right"
    "left left left right right"
    "left left left right right";
}

#measurement-system-options {
  grid-area: header;
  padding: 3px;
  text-align: center;
  box-shadow: inset 0 0 0 1000px rgba(28, 30, 35, 0.5);
}

#snapshot-container {
  grid-area: left;
  padding: 3px;
  display: flex;
  justify-content: start;
}

#snapshot-card {
  box-shadow: inset 0 0 0 1000px rgba(28, 30, 35, 0.5);
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 10px;
}

#current-conditions-container {
  grid-area: right;
  padding: 3px;
  display: flex;
  justify-content: end;
}

#current-conditions-card {
  box-shadow: inset 0 0 0 1000px rgba(28, 30, 35, 0.5);
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 10px;
}
/* ---------------------------------------------------- */
/* ---------------------- TOP HALF -------------------- */
/* ---------------------------------------------------- */




/* ---------------------------------------------------- */
/* ---------------------- BOTTOM HALF ----------------- */
/* ---------------------------------------------------- */
#bottom {
  display: grid;
  grid-template-rows: min-content 1fr;
}

#forecast-options {
  padding: 3px;
  text-align: center;
  box-shadow: inset 0 0 0 1000px rgba(28, 30, 35, 0.5);
}

#forecast-container {
  height: 100%;
}

.forecast {
  padding: 3px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.forecast-card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
/* ---------------------------------------------------- */
/* ---------------------- BOTTOM HALF ----------------- */
/* ---------------------------------------------------- */




/* ---------------------------------------------------- */
/* ---------------------- MISC ------------------------ */
/* ---------------------------------------------------- */
button {
  all: unset;
  cursor: pointer;
}

input + button {
  position: relative;
}

input + button::before {
  position: absolute;
  right: 10px;
  top: -13px;
  content: url('https://img.icons8.com/?size=10&id=7695&format=png&color=000000');
  /* TODO: CHANGE IMG SOURCE ABOVE */
}

 .forecast-card.hourly {
  background-color: rgba(154, 57, 57, 0.5);
 }

 .forecast-card.daily {
  background-color: rgba(58, 157, 86, 0.5);
 }

 .system-selected, .forecast-selected {
  color: red;
 }

 /* snapshot icons */

 #snapshot-card > div {
  display: flex;
}

#snapshot-card .conditions {
  display: block;
}

#current-conditions-card > div {
  display: flex;
}

.invisible {
  display: none;
 }

 .reload {
  height: 31px;
  width: 40px;
  background: url(../images/misc/eyeofhorus.svg);
  margin-right: 3px
}

.rotate {
  animation: rotation 0.25s linear;
}

/* ---------------------------------------------------- */
/* ---------------------- MISC ------------------------ */
/* ---------------------------------------------------- */