@font-face {
  font-family: 'oldSchool';
  src: url('../fonts/oldschool.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'oldSchool';
  font-size: 93%;
}


html {
  height: 100%;
  background: url(../images/backgrounds/07-Early-Evening.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(28, 30, 35, 0);
}

body {
  min-height: 100%;
  min-width: fit-content;
  width: 100%;
  display: grid;
  grid-template-rows: min-content 1fr;
  color: white;
  /* text-shadow:
      0.04em 0 black,
      0 0.04em black,
      -0.04em 0 black,
      0 -0.04em black; */
}

#top {
  display: grid;
  grid-template-areas: 
    "header header header header header"
    "left left left right right"
    "left left left right right"
    "left left left right right"
    "left left left right right"
    "left left left right right";
}

#unit-options {
  grid-area: header;
  padding: 3px;
  text-align: center;
  box-shadow: inset 0 0 0 1000px rgba(28, 30, 35, 0.5);
}

#snapshot-container {
  grid-area: left;
  padding: 3px;
  display: flex;
  justify-content: start;
}

#snapshot {
  box-shadow: inset 0 0 0 1000px rgba(28, 30, 35, 0.5);
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 10px;
}

#current-conditions-container {
  grid-area: right;
  padding: 3px;
  display: flex;
  justify-content: end;
}

/* ------------------ */

#bottom {
  display: grid;
  grid-template-rows: min-content 1fr;
}

#forecast-options {
  padding: 3px;
  text-align: center;
  box-shadow: inset 0 0 0 1000px rgba(28, 30, 35, 0.5);
}

#forecast-container {
  height: 100%;
}

.forecast {
  padding: 3px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.forecast-card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}



/* -------------- */
button {
  all: unset;
  cursor: pointer;
}

input + button {
  position: relative;
}

input + button::before {
  position: absolute;
  right: 10px;
  top: -13px;
  content: url('https://img.icons8.com/?size=10&id=7695&format=png&color=000000');
  /* TODO: CHANGE IMG SOURCE ABOVE */
}

 .forecast-card.hourly {
  background-color: rgba(154, 57, 57, 0.5);
 }

 .forecast-card.daily {
  background-color: rgba(58, 157, 86, 0.5);
 }

 .invisible {
  display: none;
 }

 .unit-selected {
  color: red;
 }

 /* snapshot icons */

#snapshot > div {
  display: flex;
}

#snapshot .conditions {
  display: block;
}


#snapshot .resolvedAddress div.icon {
  height: 15px;
  width: 15px;
  background: url(../images/snapshot/location.svg);
  margin-right: 3px;
}

#snapshot .datetime div.icon {
  height: 15px;
  width: 15px;
  background: url(../images/snapshot/datetime.svg);
  margin-right: 3px;
}

#snapshot .temp div.icon {
  height: 15px;
  width: 15px;
  background: url(../images/snapshot/datetime.svg);
  margin-right: 3px;
}

/* weather icons */
.clear-day {
  height: 30px;
  width: 100%;
  background: url(../images/weatherIcons/clear-day.svg) no-repeat center;
  margin-right: 3px;
}

.clear-night {
  height: 30px;
  width: 100%;
  background: url(../images/weatherIcons/clear-night.svg) no-repeat center;
  margin-right: 3px;
}

.cloudy {
  height: 30px;
  width: 100%;
  background: url(../images/weatherIcons/cloudy.svg) no-repeat center;
  margin-right: 3px;
}

.fog {
  height: 30px;
  width: 100%;
  background: url(../images/weatherIcons/fog.svg) no-repeat center;
  margin-right: 3px;
}

.hail {
  height: 30px;
  width: 100%;
  background: url(../images/weatherIcons/hail.svg) no-repeat center;
  margin-right: 3px;
}

.partly-cloudy-day {
  height: 30px;
  width: 100%;
  background: url(../images/weatherIcons/partly-cloudy-day.svg) no-repeat center;
  margin-right: 3px;
}

.partly-cloudy-night {
  height: 30px;
  width: 100%;
  background: url(../images/weatherIcons/partly-cloudy-night.svg) no-repeat center;
  margin-right: 3px;
}

.rain-snow-showers-day {
  height: 30px;
  width: 100%;
  background: url(../images/weatherIcons/rain-snow-showers-day.svg) no-repeat center;
  margin-right: 3px;
}

.rain-snow-showers-night {
  height: 30px;
  width: 100%;
  background: url(../images/weatherIcons/rain-snow-showers-night.svg) no-repeat center;
  margin-right: 3px;
}

.rain-snow {
  height: 30px;
  width: 100%;
  background: url(../images/weatherIcons/rain-snow.svg) no-repeat center;
  margin-right: 3px;
}

.rain {
  height: 30px;
  width: 100%;
  background: url(../images/weatherIcons/rain.svg) no-repeat center;
  margin-right: 3px;
}

.showers-day {
  height: 30px;
  width: 100%;
  background: url(../images/weatherIcons/showers-day.svg) no-repeat center;
  margin-right: 3px;
}

.showers-night {
  height: 30px;
  width: 100%;
  background: url(../images/weatherIcons/showers-night.svg) no-repeat center;
  margin-right: 3px;
}

.sleet {
  height: 30px;
  width: 100%;
  background: url(../images/weatherIcons/sleet.svg) no-repeat center;
  margin-right: 3px;
}

.snow-showers-day {
  height: 30px;
  width: 100%;
  background: url(../images/weatherIcons/snow-showers-day.svg) no-repeat center;
  margin-right: 3px;
}

.snow-showers-night {
  height: 30px;
  width: 100%;
  background: url(../images/weatherIcons/snow-showers-night.svg) no-repeat center;
  margin-right: 3px;
}

.snow {
  height: 30px;
  width: 100%;
  background: url(../images/weatherIcons/snow.svg) no-repeat center;
  margin-right: 3px;
}

.thunder-rain {
  height: 30px;
  width: 100%;
  background: url(../images/weatherIcons/thunder-rain.svg) no-repeat center;
  margin-right: 3px;
}

.thunder-showers-day {
  height: 30px;
  width: 100%;
  background: url(../images/weatherIcons/thunder-showers-day.svg) no-repeat center;
  margin-right: 3px;
}

.thunder-showers-night {
  height: 30px;
  width: 100%;
  background: url(../images/weatherIcons/thunder-showers-night.svg) no-repeat center;
  margin-right: 3px;
}

.thunder {
  height: 30px;
  width: 100%;
  background: url(../images/weatherIcons/thunder.svg) no-repeat center;
  margin-right: 3px;
}

.wind {
  height: 30px;
  width: 100%;
  background: url(../images/weatherIcons/wind.svg) no-repeat center;
  margin-right: 3px;
}
